.home {
	&.logreg {
	}
	logreg {
		&__popup {
			max-width: 500px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			background-color: $c-dimmed;
		}
	}
}
