.card {
	flex: 1 1 100%;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	gap: 50px;
	padding: 15px;
	margin: 0 auto;
	border-radius: 35px;
	background-color: #444;
	text-shadow: 4px 4px 4px #0004;
	border: none;
	transition: all 0.3s ease-in-out;

	&:hover {
		box-shadow:
			0 0 20px $c-secondary,
			0 0 10px $c-secondary inset;
		background-color: $c-main-opacity;
	}

	&__image {
		flex: 0 0 auto;
		width: 300px;
		height: 300px;
		border-radius: 20px;
		overflow: hidden;
		background-color: $c-secondary-element;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;
	}
	&__title {
		font-size: $fs-xxxl;
		color: $c-secondary;
		font-weight: 400;
	}
	&__description {
		color: $white;
		font-size: $fs-l;
	}
	.lesson-card {
		justify-self: flex-end;
	}
}
.courses__list.not-found {
	.card {
		&__image {
			padding: 50px;
		}
	}
}
