//imports from third party libraries
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// colors
$background: #252525;
$black: #000000;
$white: #ffffff;
$c-main: #007bc2;
$c-main-opacity: #007bc21a;
$c-secondary: #e3e631;
$c-secondary-element: #343434;
$c-dimmed: #0008;

// breakpoints
$mobile: 576px; //breakpoint-sm
$mobile-max: 575px; //breakpoint-sm-max
$tablet: 768px; //breakpoint-md
$tablet-max: 767px; //breakpoint-md-max
$laptop: 992px; //breakpoint-lg
$laptop-max: 991px; //breakpoint-lg-max
$decktop: 1200px; //breakpoint-xl
$desktop-max: 1199px; //breakpoint-xl-max
$large: 1400px; //breakpoint-xxl

//Line heights
$lh-base: 1.2;
$lh-sm: 1.28;
$lh-lg: 1.65;

//Font sizes
$fs-base-mobile: 14px;
$fs-base-desktop: 16px;

$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs-base: 1rem;
$fs-m: 1.125rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.25rem;
$fs-xxxxl: 2.5rem;

//Font family
$ff-main:
	"Jersey 15",
	regular,
	"Tiny5",
	sans-serif,
	"Press Start 2P",
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif;
$fw-main: 400;
